<div class="user-details">
    <div class="user-details-user">
        <div class="u-div">
            <h1><span>{{ userDetails?.id }}. </span>{{ userDetails?.username }}</h1>
        </div>
        <div class="u-div">
            <h2>First Name: </h2>
            <h2> {{ userDetails?.firstName }}</h2>
        </div>
        <div class="u-div">
            <h2>Last Name: </h2>
            <h2> {{ userDetails?.lastName }}</h2>
        </div>
        <div class="u-div">
            <h2>About me: </h2>
            <h2> {{ userDetails?.aboutMe }}</h2>
        </div>
    </div>
</div>
